.ag-theme-yachtimer {
  .ag-center-cols-viewport {
    background: black !important;
  }

  .ag-cell {
    background: black !important;
    color: white !important;
  }

  .ag-root-wrapper {
    border-radius: 8px;
  }
}
